body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #38b6ff;
  height: 100px;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-brand {
  font-size: 35px;
}

.navbar-brand:hover {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.dropdown_container {
  position: relative;
}

.assignment_head .submissions_head .current_resources{
  border: 2px solid #dddddd;
  width: 575px;
  text-align: center;
}

.current_assignments .current_submissions .current_resources{
  border: 2px solid #dddddd;
  width: 575px;
  text-align: left;
}

.container-fluid {
  padding-top: 50px;
  padding-left: 250px;
  padding-right: 250px;
}

.row {
  justify-content: center;
}

.side_nav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 225px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #cccecf;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.class_head {
  padding: 20px;
  text-align: center;
  text-decoration: underline;
  font-color: #444444;
}

.class_list li{
  background-color: #cccecf;
  color: black;
  font-size: 15px;
  padding: 10px;
}

.timeframe_head .timeframe {
  width: 200px;
}

.main_text {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 50px;
}

img {
  margin: 40px;
}



