body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #38b6ff;
  height: 100px;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-brand {
  font-size: 35px;
}

.navbar-brand:hover {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.dropdown_container {
  position: relative;
}

.col {
  border: 5px solid #dddddd;
  padding: 20px;
}

.container-fluid {
  padding-top: 50px;
  padding-left: 250px;
  padding-right: 250px;
}

.row {
  justify-content: center;
  padding: 10px;
}

.ratings_container {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". title rBorder"
    ". ratings rBorder"
    ". ratings rBorder"
    ". ratings rBorder"
    ". ratings rBorder"
    ". ratings rBorder"
    ". ratings rBorder"
    ". ratings rBorder"
    ". ratings rBorder"
    ". ratings rBorder"
    ". ratings rBorder";
}

.title {
  grid-area: title;
  border: 5px solid #000000;
  font-size: 28pt;
}



.rBorder {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
  align-self: start;
  grid-area: rBorder;
}

.ratings {
  justify-self: stretch;
  align-self: stretch;
  grid-area: ratings;
  background-color: #38b6ff;
  border: 5px solid #dddddd;
}

div {
  background-color: #e6e6e6;
  justify-self: start;
}

label {
  font-size: 18pt;
}

#submit {
  float: right;
}

form {
  background-color: #e6e6e6;
}

.header_container {
  color: #38b6ff;
}

