{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to the DigitalBackpack!</title>

    <link rel="stylesheet" href="{% static 'css/landingWeb.css' %}">
    {% block head %}{% endblock %}
  </head>

  <body>

    <div class="header">
      <div class="headBox">
        <h1>Digital Backpack</h1>
        <div class="picture1">
          <img src="../static/img/Team_Logout_logo.png" alt="Team Logout" height="85" width="85">
        </div>
        <div class="picture2">
          <img src="../static/img/CANIS.png" alt="CANIS" height="85" width="130">
        </div>
      </div>
    </div>
    <main>
      {% if messages %}
        {% for message in messages %}
	  <div class="alert alert-{{ message.tags }}">
	    {{ message }}
	  </div>
	{% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
