{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Teacher DigiPack</title>
    <link rel="stylesheet" href="teacherWeb.css">
    <script src="../static/js/studentFlag.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="headBox">
        <h1>Digital Backpack</h1>
      </div>
    </div>

    <div class="mainBody">
      <div class="classList">
        <h2 class="classTitle">Classes</h2>
      </div>

      <div class="classRoster">
        <div class="classRosterHeadBox">
          <h1>Class Roster</h1>
        </div>
        <div class="classRosterBox">
          <br><br><br><br><br><br>
          <button class="studentFlag" id="notFlagged">Vova Saruta</button>\
          <br><br><br><br><br>
          <button class="studentFlag" id="notFlagged">Jon Nation</button>
          <br><br><br><br><br>
          <button class="studentFlag" id="notFlagged">Nick Caporusso</button>
          <br><br><br><br><br>
          <button class="studentFlag" id="notFlagged">Kevin Kilbourne</button>
          <br><br><br><br><br>
          <button class="studentFlag" id="notFlagged">Jake Novin</button>
        </div>
      </div>

      <div class="assignments">
        <div class="assignmentHeadBox">
          <h1>Active Assignments</h1>
        </div>
        <div>
          <button type="button" name="button">Add Assignment</button>
        </div>
        <div class="assignmentBox">

        </div>
      </div>

      <div class="submissions">
        <div class="submissionsHeadBox">
          <h1>Submitted Assignments</h1>
        </div>
        <div class="submissionsBox">

        </div>
      </div>

      <div class="resources">
        <div class="resourcesHeadBox">
          <h1>Resource Help Center</h1>
        </div>
        <div class="resourcesBox">

        </div>
      </div>
    </div>
  </body>
</html>
