{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Teacher DigiPack</title>

    <link rel="stylesheet" href="{% static 'css/teacherWeb.css' %}">
    <script src="{% static 'js/studentFlag.js' %}"></script>

  </head>

  <body>
    <div class="headBoxVersion">
        <h3>Teacher View</h3>
    </div>

    <div class="header">
      <div class="headBox">
        <h1>Digital Backpack</h1>
      </div>
    </div>

    <div class="mainBody">
      <div class="classList">
        <h2 class="classTitle">Classes</h2>
      </div>

      <div class="classRoster">
        <div class="classRosterHeadBox">
          <h1>Class Roster</h1>
        </div>
        <div class="classRosterBox">
          <br><br><br><br><br><br>
          <button id="studentFlag1" class="notFlagged" onclick="swapFlag(event, this)">Terrance Fields</button>
          <hr id="rosterLines">
          <button id="studentFlag2" class="notFlagged" onclick="swapFlag(event, this)">Carolyn Price</button>
          <hr id="rosterLines">
          <button id="studentFlag3" class="notFlagged" onclick="swapFlag(event, this)">Bruce Lane</button>
          <hr id="rosterLines">
          <button id="studentFlag4" class="notFlagged" onclick="swapFlag(event, this)">Jeffrey Gonzales</button>
          <hr id="rosterLines">
          <button id="studentFlag5" class="notFlagged" onclick="swapFlag(event, this)">Ana Day</button>
          <hr id="rosterLines">
          <button id="studentFlag5" class="notFlagged" onclick="swapFlag(event, this)">Byron Stephens</button>
          <hr id="rosterLines">
          <button id="studentFlag5" class="notFlagged" onclick="swapFlag(event, this)">Christopher Duncan</button>
        </div>
      </div>

      <div class="assignments">
        <div class="flex-container assignmentHeadBox">
          <h1>Active Assignments</h1>
          <a href="teacher/add_assignment/" style="text-decoration:none">
            <button type="button" id="addAssignmentButton">Add Assignment</button>
          </a>
        </div>
        <div class="assignmentBox">

        </div>
      </div>

      <div class="submissions">
        <div class="submissionsHeadBox">
          <h1>Submitted Assignments</h1>
        </div>
        <div class="submissionsBox">

        </div>
      </div>

      <div class="resources">
        <div class="resourcesHeadBox">
          <h1>Resource Help Center</h1>
        </div>
        <div class="resourcesBox">

        </div>
      </div>
    </div>
  </body>
</html>
