{% load static %}

<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/viewmyself.css' %}">

    <title>
      DigitalBackpack - View Student
    </title>

  </head>

  <body>

    <!-- Header bar at the top of the webpage -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'landing_page' %}">DigitalBackpack</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <!-- Add any navigation links here
              <a class="nav-item nav-link" href="/">Home</a>
              -->
            </div>

            <!-- Right side of navbar -->
            <!-- Dropdown menu that redirects to either Student or Teacher Registration page -->
            <div class="dropdown_container">
              <div class="register_dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="registerDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Register
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'student_registration' %}">Register as Student</a>
                  <a class="dropdown-item" href="{% url 'teacher_registration' %}">Register as Teacher</a>
                </div>
              </div>
            </div>

            <!-- Dropdown menu that redirects to either Student or Teacher Login page -->
            <div class="dropdown_container">
              <div class="login_dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="loginDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Login
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="{% url 'student_login' %}">Login as Student</a>
                  <a class="dropdown-item" href="{% url 'teacher_login' %}">Login as Teacher</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </nav>
    </header>

    <!-- Main body of the webpage -->
    <main role="main" class="container-fluid">

      <!-- Student Name row -->
      {% if student %}
      <div class="row">
        <div class="col mb-2">
          <h3 style="text-decoration: underline;">Student's Name:</h3>
          <h4 id="studentfullname">{{student.first}} {{student.last}}</h4>
        </div>
      </div>

      <!-- Student Email row -->
      <div class="row">
        <div class="col mb-2">
          <h3 style="text-decoration: underline;">Student's Email: </h3>
          <h4 id="studentemail">{{student.email}}</h4>
        </div>
      </div>

      <!-- Student Flagged Status row -->
      <div class="row">
        <div class="col mb-5">
          <h3 style="text-decoration: underline;">Student Flagged Status: </h3>
          <h4 id="studentflagged">{{student.flagged}}</h4>
        </div>
      </div>

      <!-- Student Heatmap row -->
      <div class="row">
        <h3>My Online Connectivity</h3>
      </div>
      <div class="row">
        {% if onlineconnectivity %}
          <div class="img_div text-center">
            <img id="heatmap" src="{% static onlineconnectivity %}" alt="Weekly Heatmap" style="width: 90%; height: 90%">
          </div>
	    {% else %}
          <div class="text-center mb-3">
            <br><h5>You have no availability logged</h5>
          </div>
	    {% endif %}

      </div>


      {% else %}
      <p>You are accessing a page that requires a student ID. Click the button below to go back to teacher page.</p>
      {% endif %}
      <a href="/student">
        <button id="HomeButton" class="Home mb-5" onclick="location.href='{% url 'student_page' %}'">Return to Student Page</button>
      </a>

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
